	<!--start-image-slider---->
	<div class="slider">
		<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
		    <div data-src="images/slider09.jpg"> </div>
		    <div data-src="images/slider10.jpg"> </div>
			<div data-src="images/slider11.jpg"> </div>
			<div data-src="images/slider12.jpg"> </div>
			<div data-src="images/slider13.jpg"> </div>
			<div data-src="images/slider14.jpg"> </div>
		</div>
		<div class="clear"> </div>
	</div>
	
	
		<script type="text/javascript">
		jQuery(function() {
			jQuery('#camera_wrap_1').camera({
				pagination: false,
			});
		});
	</script>
	
	
	<!--End-image-slider---->